.dashboardPage {
  width: 100vw;
  min-height: 100vh;
  margin-top: 60px;
  padding-bottom: 100px;
  background: #ffffff66;
}

.dashboardContainer {
  width: 280px;
  margin-inline: auto;
}

.currentContainer {
  padding-top: 16px;
}

.addIcon {
  height: 62px;
  width: 62px;
  bottom: 0;
  position: fixed;
  z-index: 9;
  right: calc(50% - 140px - 12px);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .dashboardPage {
    margin-top: 80px;
  }
  .dashboardContainer {
    width: 704px;
  }

  .currentContainer {
    display: none;
  }

  .mobileBalance {
    display: none;
  }

  .addIcon {
    right: calc(50% - 352px - 4px);
    bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .dashboardContainer {
    width: 1248px;
  }

  .dashboard {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    gap: 69px;
    width: 1248px;
  }

  .contentContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .content {
    width: 715px;
  }
  .addIcon {
    right: calc(50% - 600px);
  }
}
