:root {
  --grey-background: #e7eaf2;
  --light-grey: #E5F1EF;
  --grey-text: #BDBDBD;
  --grey-text-two: #A6A6A6;
  --white-blur: #ffffff66;
  --white: #ffffff;
  --green: #24cca7;
  --green-blur: #24cca780;
  --blue: #4A56E2;
  --light-blue: #6E78E8;
  --blue-blur: #4A56E280;
  --red: #FF6596;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Circe", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

