.page {
  width: 100vw;
  min-height: 100vh;
  margin-top: 60px;
  padding-bottom: 100px;
  background: #ffffff66;
}

.addIcon {
  height: 62px;
  width: 62px;
  bottom: 0;
  position: fixed;
  z-index: 9;
  right: calc(50% - 140px - 12px);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .page {
    margin-top: 80px;
  }

  .addIcon {
    right: calc(50% - 352px - 4px);
    bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .addIcon {
    right: calc(50% - 600px);
  }
}
