.container {
  width: 280px;
  height: 80px;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline: 32px;
  padding-top: 8px;
  padding-bottom: 11.2px;
  margin-inline: auto;
}

.title {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--grey-text-two);
  margin-block: 0;
}

.balance {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 30px;
  line-height: 100%;
  margin-top: auto;
}

.amount {
  font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 768px) {
  .container {
    width: 336px;
    padding-inline: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 395px;
    padding-inline: 40px;
  }
}
