.list {
  width: 100% + 2px;
  height: 100%;
  padding-top: 10px;
  box-shadow: 0px 6px 15px 0px #0000001a;
  backdrop-filter: blur(50px);
  background-color: var(--white-blur);
  border-radius: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.listItem {
  height: 28px;
  padding-left: 20px;
  padding-block: 2px;
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.categoryList {
  padding-top: 0;
}

.categoryItem {
    height: 44px;
    box-sizing: border-box;
    font-size: 18px;
}

.listItem:hover {
  background-color: var(--white);
  cursor: pointer;
}

.categoryItem:hover {
  color: var(--red);
  font-weight: var(--font-weight-bold);
}
